.CTASection {
  background: url('../../public/images/cta.png') no-repeat center/cover;
  max-width: 1150px;
  margin: 2rem auto;
  border-radius: 2rem;
  padding: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.CTA__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 500px;
}

.CTAHeading {
  font-size: 2rem;
  max-width: 750px;
}

.CTASection p {
  max-width: 750px;
}

@media (max-width: 768px) {
  .CTASection {
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    width: 75%;
    height: 700px;
  }
  .CTA__text {
    align-items: center;
  }
}
