.heroSection {
  background: var(--secondary-bg);
}
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  max-width: 1500px;
  margin: 0 auto;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 500px;
}

.hero__text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--black);
}

@media (max-width: 768px) {
  .hero {
    justify-content: center;
    gap: 2.2rem;
  }
  .hero__text {
    align-items: center;
    text-align: center;
    order: 2;
  }

  .hero__text p {
    max-width: 400px;
  }
}
