:root {
  --primary-color: #ffdf60;
  --black: #252525;
  --secondary-bg: #f2f6f7;
  --footer-bg: #191a1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn__primary {
  background: var(--primary-color);
  color: var(--black);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
