.Services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: fit-content;
  background: var(--black);
  color: white;
  border-radius: 3rem;
  margin: 5rem auto;
  padding: 2.5rem 2rem;
}

.ServicesText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ServicesHeading {
  font-size: 3rem;
  max-width: 650px;
  font-weight: 600;
  text-align: center;
}

.ServicesP {
  max-width: 650px;
  text-align: center;
}

.ServiciosCards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
